body {
	font-size: 1em;	
}
nav, nav .nav-wrapper, footer.page-footer, .toast {
	background-color: #2B4253;
}
.navbar-fixed, nav {
	height: 150px;
}
nav .brand-logo.center {
	height: 100%;
}
nav .brand-logo {
	position: relative;
}
nav .nav-wrapper {
	height: 64px;
	margin-top: -1%;
}
nav ul {
	position: relative;
	left: 33%;
}
nav ul a {
	font-size: 1.5em;
	display: block;
	padding: 0 20px;
	font-style: italic;
	font-weight: bold;
	color: #A5A5A5;
}
.side-nav a {
	padding: 0;
}
.nav-wrapper ul.hide-on-med-and-down li:focus, .nav-wrapper ul.hide-on-med-and-down li:hover {
	background-color: #000;
}
#nav-mobile i {
	display: inline-block;
	font-size: 2rem;
	vertical-align: middle;
}
nav .button-collapse {
	float: left;
	position: relative;
	z-index: 1;
	height: 50px;
	background-color: #E88A23;
	margin-top: 6px;
	border-radius: 4px;
	margin-left: 4px;
}
nav .button-collapse i {
	font-size: 2.7 rem;
	height: 50px;
	line-height: 50px;
}
@media only screen and (min-width: 601px) {
	nav a.button-collapse, nav a.button-collapse i {
		height: 50px;
		line-height: 50px;
	}
}
.container {
	max-width: 1920px;
}
input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not(
[readonly]) {
	border-bottom: 1px solid #2B4253;
	box-shadow: 0 1px 0 0 #2B4253;
}
input[type=text]:focus:not([readonly]) + label, input[type=password]:focus:not([readonly]) + label, input[type=email]:focus:not([readonly]) + label, input[type=url]:focus:not([readonly]) + label, input[type=time]:focus:not([readonly]) + label, input[type=date]:focus:not([readonly]) + label, input[type=datetime-local]:focus:not([readonly]) + label, input[type=tel]:focus:not([readonly]) + label, input[type=number]:focus:not([readonly]) + label, input[type=search]:focus:not([readonly]) + label, textarea.materialize-textarea:focus:not(
[readonly]) + label {
	color: #2B4253;
}
.btn, .btn-large {
	background-color: #E88A23;
}
.btn:hover, .btn-large:hover, .btn:focus, .btn-large:focus, .btn:active, .btn-large:active {
	background-color: #D07C20;
}
.orange-text {
	color: #D07C20;
}
.bx-wrapper .bx-prev, .bx-wrapper .bx-next {
	background: none;
}
.bx-wrapper .bx-prev {
	left: 0;
}
.bx-wrapper .bx-next {
	right: 18px;
}
.bx-wrapper .bx-controls-direction a {
	text-indent: inherit;
	z-index: 10;
}
.bx-wrapper .bx-prev i, .bx-wrapper .bx-next i {
	color: #fff;
	background-color: #E88A23;
	font-size: 42px;
	border-radius: 50%;
}
.bx-wrapper button i {
	vertical-align: bottom;
}
#index-banner h1 {
	padding-top: 4%;
}
.icon-block {
	padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.bx-wrapper {
	margin: auto;
}
.bx-wrapper .bx-viewport {
	background: transparent;
	border-color: transparent;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#bx-pager a.active {
	border: 5px solid #E88A23;
}
.row .col.top-padding10 {
	padding-top: 10%;
}
.top-padding42 {
	padding-top: 42%;
}
.top-padding52 {
	padding-top: 52%;
}
.top-padding10 {
	padding-top: 10%;
}
.container-90 {
	width: 90%;
}
.container-100 {
	width: 100%;
}
.inline-block {
	display: inline-block
}
.block {
	display: block;
}
footer p {
	margin: 5px auto;
}
#back-to-top i {
	font-size: 42px;
	background-color: #E88A23;
	color: #fff;
	border-radius: 4px;
}
.font42 i {
	font-size: inherit;
	vertical-align: bottom;
}
#Contact-us h1 {
	padding-top: 1%;
}
#Contact-us h1 i {
	font-size: inherit;
	vertical-align: bottom;
}
#Contact-us {
	margin: 8% auto;
}
.slider-btn {
	position: absolute;
	top: 82%;
	left: 40%;
}
.side-nav {
	width: 200px;
}
.side-nav li:hover, .side-nav li.active {
	background-color: #ddd;
}
.preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	z-index: 9000;
}
.preloader-wrapper {
	z-index: 9005;
	position: absolute;
	top: 50%;
	left: 50%;
}

@media screen and (max-width: 740px) {
	.navbar-fixed nav {
		position: relative;
	}
}
@media screen and (max-width: 450px) {

	h1 {
		font-size: 2.9em;
	}
	h3 {
		font-size: 1.9em;
	}
	nav .brand-logo.center {
		height: 85%;
	}
	nav .brand-logo.center img {
		width: 100%;
		padding-top: 4%;
	}
	#index-banner {
		background: none;
	}
	.slider-btn {
		top: 72%;
		left: 24%;
	}
	.top-padding10 img {
		width: 100%;
	}
	.footer-logo {
		text-align: center;
	}
	footer.page-footer .footer-copyright {
		overflow: auto;
		height: auto;
	}
	.font42 i {
		line-height: inherit;
	}
}

@media screen and (max-width: 340px) and (orientation: portrait) {
	h3 {
		font-size: 1.5em;
	}	
}

@media screen and (min-width: 500px) and (max-width: 740px) and (orientation: landscape) {
	.page-footer .container-90 {
		width: 100%;
	}
	nav .nav-wrapper {
		margin-top: -4%;
	}
}
@media screen and (min-width: 700px) and (max-width: 950px) and (orientation: portrait) {
	nav .nav-wrapper {
		margin-top: -3%;
	}
}
@media screen and (min-width: 790px) and (max-width: 1100px) and (orientation: landscape) {
	nav ul {
		left: 20%;
	}
	nav .nav-wrapper {
		margin-top: -2%;
	}
	#index-banner h1 {
		font-size: 3.5em;
	}
	.flow-text {
		font-size: 1.2em;
	}	
}

@media only screen and (min-width: 993px) {
	#toast-container {
		min-width: 8%;
		bottom: 3%;
		right: 2%;
		top: auto;
	}
	#index-banner .container {
		width: 85%;
	}
}
@media screen and (min-width: 1100px) and (max-width: 1700px) and (orientation: landscape) {
	nav .nav-wrapper {
		margin-top: -2%;
	}
	nav ul {
		left: 24%;
	}
	.flow-text {
		font-size: 1.2em;
	}
}

